APP_NAME=PI RAG Challenge
APP_ENV=local
LOG_LEVEL=INFO
LOG_JSON=false
API_HOST=0.0.0.0
API_PORT=8000

RAG_TOP_K=3
RAG_CHUNK_SIZE=900
RAG_CHUNK_OVERLAP=120
RAG_COLLECTION=document_chunks
DOCUMENT_PATH=./data/documento.txt
CHROMA_DIR=./chroma_data

LLM_PROVIDER=cohere
EMBEDDING_PROVIDER=cohere

COHERE_API_KEY=PEGAR_AQUI_TU_KEY
COHERE_CHAT_MODEL=command-r-plus-08-2024
COHERE_EMBED_MODEL=embed-multilingual-v3.0